@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#fff] text-[#eceff1];
  }

  header {
    @apply fixed top-0 left-0 z-50 flex w-full justify-start py-3 transition-all 
    sm:justify-center;
  }
}

/* custom class names */
@layer components {
  /* Header.tsx Component*/
  .headerBorder {
    @apply rounded-sm border-2 border-[#00838f] 
    md:px-2 md:py-1 
    lg:px-4 lg:py-2;
  }

  .headerLinkScrolled {
    @apply cursor-pointer text-sm font-medium text-[#fff] transition duration-[.4s] hover:text-[#757575] 
    md:text-xl 
    lg:text-2xl;
  }

  .headerLink {
    @apply text-[#263238] hover:text-[#9e9e9e];
  }

  .headerSlash {
    @apply cursor-default font-medium text-black 
    md:text-xl 
    lg:text-2xl;
  }

  /* Tables.tsx Component*/
  .mainTable {
    @apply w-full border-collapse font-mono capitalize text-[#424242] shadow-xl;
  }

  .mainTable thead {
    @apply bg-[#f5f5f5] opacity-80;
  }

  .mainTable td,
  th {
    @apply px-2 py-4 text-center;
  }

  .mainTable tbody tr {
    @apply border-b-2 border-[#eceff1]  text-sm md:text-xl;
  }
  .mainTable-Form {
    @apply h-5 w-5 rounded-full text-center text-sm font-bold leading-5 text-white md:h-8 md:w-8 md:text-lg md:leading-8;
  }

  /* ContactInformation.tsx */
  .contactInformation--p-text {
    @apply text-[#00838f];
  }

  /* login-master-creator.tsx */
  .masterCreator--input {
    @apply w-full rounded bg-[#333333] px-5 py-3.5 text-sm placeholder-[gray] outline-none focus:bg-[#454545];
  }

  /* master-creator.tsx */
  .masterCreator--Tab {
    @apply !justify-start !pl-5 !text-3xl !normal-case hover:!text-[white];
  }

  /* Week Schedule Label */
  .schedule--label {
    @apply ml-2 mb-2 text-3xl font-bold capitalize text-[#006064] underline decoration-[#00838f] underline-offset-1;
  }
  /* Main Page Week Schedule Label */
  .main-schedule--label {
    @apply my-2 justify-self-center text-xl font-bold capitalize text-[#006064] underline decoration-[#00838f] underline-offset-1 sm:text-3xl;
  }
  /* Main Page Week Schedule Paragraph */
  .main-schedule--paragraph {
    @apply justify-self-center text-xl font-bold text-[#c62828] sm:text-3xl;
  }

  /* Playoffs */
  .playoffs--mainlabel {
    @apply ml-2 mb-2 text-3xl font-bold capitalize text-[#006064] underline decoration-[#00838f] underline-offset-1;
  }

  .playoffs--match {
    @apply ml-5 mb-2 text-2xl font-bold capitalize text-black underline decoration-[#000] underline-offset-1;
  }
  .playoffs--game {
    @apply ml-10 mb-2 text-lg font-bold capitalize text-[#006064];
  }
}
